#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  margin-top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.login_details {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.input-field {
  display: flex;
  border: none;
  color: black;
  font-size: 16px;
  border-radius: 24px;
  padding-inline: 10px;
  height: 40px;
  background-color: white;
  flex-direction: column;
  margin: 10px;
}

.btn-s {
  padding: 10px 20px;
  border: none;
  margin: 10px;
  background-color: #0bbc5b;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: blur(10px);
  box-shadow: 0 0 10px #000000;
  border-radius: 24px;
}

.media {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0bbc5baa;
  border-radius: 24px;
  box-shadow: 0 0 10px #000000;
}

.media-controls {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 45px;
}

.music-list {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: row;
  width: 100%;
  overflow: overlay;
  height: 100vh;
  justify-content: center;
}

.music {
  border-radius: 24px;
}

.music-info img {
  border-radius: 16px;
}
